  <nav class="top-menu">
    <a href="/" class="menu-link">Home</a>
    <a href="/panel" class="menu-link">API Panel</a>
    <a href="/accountinfo" id="accountinfolink" class="menu-link">Account Info</a>
    <a href="/guestbook" id="guestbooklink" class="menu-link">Guest Book</a>
    <a href="/login" id="loginlink" class="menu-link">Login</a>
  </nav>

<!--Login Information-->
    <div class="login-info">
      <span id="usernameDisplay">Not logged in</span>
      <button id="logoutButton">Logout</button>
    </div>

<script>

    const logoutBtn = document.getElementById('logoutButton');
    const usernameSpan = document.getElementById('usernameDisplay');
  

    // Display logged-in user and enable/disable logout
    function updateUserInfo() {
      fetch('/api/data')
        .then(res => res.json())
        .then(data => {
          if(data.logged_in_as) {
            usernameSpan.innerText = "Logged in as: " + data.logged_in_as;
            //extract the name of the user instad of username once the GetUserData API is ready. 

            logoutBtn.disabled = false;
            loginlink = document.getElementById('loginlink').style.display = 'none'

          } else {
            usernameSpan.innerText = "Not logged in";
            logoutBtn.disabled = true;
            document.getElementById('accountinfolink').style.display =  'none'; 
            document.getElementById('guestbooklink').style.dysplay = 'none';
          }
        });
    }

    window.onload = updateUserInfo;

    // Logout
    logoutBtn.onclick = () => {
      fetch('/logout')
        .then(res => res.json())
        .then(data => {
          alert(data.message);
          window.location.href = '/login';
        });
    };

</script>