{% extends "base.html" %} {% block title %}API Panel{% endblock %} {% block
content %}

<!-- Main content -->
<h1>API Panel</h1>

<!-- GetGetSession Section -->
<p>
  <b>GetSession (GET /api/GetSession)</b><br />
  This function return session information including first name, last name,
  userid and username. Only GET method is supported.
</p>
<button id="GetGetSessionButton">
  Get The Session Data (GET /api/GetSession)
</button>
<div id="GetGetSessionResult" class="result"></div>

<br />

<p>
  <b>GetSum (POST /api/GetSum)</b><br />
  This function accepts two integers (arg1 and arg2) and returns sum of these.
  First parameter has input validation implemented, while the second doesn't (it
  return server error). Supported methods: POST. Authentication not required.
</p>
<input type="text" style="width: 49%" id="GetSumInput1" placeholder="Argument 1 (arg1)" />
<input type="text" style="width: 49%" id="GetSumInput2" placeholder="Argument 2 (arg2)" />
<button id="GetSumButton">Get Sum (POST /get/GetSum)</button>
<div id="GetSumResult" class="result"></div>

<br />

<p>
  <b>GetProductsByID (POST /api/GetProductByID)</b><br />
  This function accepts one integer (pID) and returns corresponding product
  details. Supported methods: POST. Authentication not required.
</p>
<input type="text" id="GetProductByIDInput" placeholder="Product ID (pID)" />
<button id="GetProductByIDButton">
  Get Product by ID (POST /api/GetProductByID)
</button>
<div id="GetProductByIDResult" class="result"></div>

<br />
<p>
  <b>GetProductsByCategory (POST /api/GetProductsByCategory)</b><br />
  This function accepts one integer (pCAT) and returns corresponding products
  list. Supported methods: POST. Authentication not required.
</p>
<input type="text" id="GetProductsByCategoryInput" placeholder="Product Category (pCAT)" />
<button id="GetProductsByCategoryButton">
  Get Products by Category (POST /api/GetProductsByCategory)
</button>
<div id="GetProductsByCategoryResult" class="result"></div>
<br />

<p>
  <b>GetCategories (GET GetCategories)</b><br />
  This function returns categoris for products in the product database.
  Supported method: GET. Authetnication not required. 
</p>
<button id="GetCategoriesButton">
  Get Categories (GET /api/GetCategories)
</button>
<div id="GetCategoriesResult" class="result"></div>
<br />

<p>
  <b>AddToCart (POST /api/AddToCart)</b><br />
  This function accepts two integers (pID and pQTY) and add a product to the cart.
  Supported methods: POST. Authentication is required.
</p>
<input type="text" style="width: 49%" id="AddToCartInput1" placeholder="pID" />
<input type="text" style="width: 49%" id="AddToCartInput2" placeholder="pQTY" />
<button id="AddToCartButton">AddToCart (POST /get/AddToCart)</button>
<div id="AddToCartResult" class="result"></div>
<br />

<p>
  <b>GetCart (GET GetCart)</b><br />
  This function returns the items in the cart.
  Supported method: GET. Authetnication is required. 
</p>
<button id="GetCartButton">
  Get Cart (GET /api/GetCart)
</button>
<div id="GetCartResult" class="result"></div>
<br />

<p>
  <b>GetCartInfo (GET GetCartInfo)</b><br />
  This function returns the summary of the cart.
  Supported method: GET. Authetnication is required. 
</p>
<button id="GetCartInfoButton">
  Get Cart Info (GET /api/GetCartInfo)
</button>
<div id="GetCartInfoResult" class="result"></div>
<br />

<p>
  <b>AddCoupon (POST /api/AddCoupon)</b><br />
  This function accepts two integers (cPARTNER and cCODE) and add a coupon to the list.
  Supported methods: POST. Authentication is required.
</p>
<input type="text" style="width: 49%" id="AddCouponInput1" placeholder="cPARTNER" />
<input type="text" style="width: 49%" id="AddCouponInput2" placeholder="cCODE" />
<button id="AddCouponButton">AddCoupon (POST /get/AddCoupon)</button>
<div id="AddCouponResult" class="result"></div>
<br />

<p>
  <b>GetCoupons (GET GetCoupons)</b><br />
  This function returns the list of coupons.
  Supported method: GET. Authetnication is required. 
</p>
<button id="GetCouponsButton">
  Get Cart (GET /api/GetCart)
</button>
<div id="GetCouponsResult" class="result"></div>
<br />

<p>
  <b>Get User Data (POST /api/GetUserData)</b><br />
  This function accepts one integer (UserID) and returns corresponding user
  details. Supported methods: POST. Authentication required. SQL injection
  vulnerability.
</p>
<input type="text" id="GetUserDataInput" placeholder="User ID (id)" />
<button id="GetUserDataButton">Get User Data (POST /api/GetUserData)</button>
<div id="GetUserDataResult" class="result"></div>

<br />
<p>
  <b>Guestbook (POST /api/GuestBook)</b><br />
  This function accepts one text parameter (message) and adds the message to the
  guestbook. Supported methods: GET, POST, DELETE. Authentication required but
  not implemented for POST method.
</p>
<input
  type="text"
  id="GuestBookInput"
  placeholder="Type the message (message)"
/>
<button id="GuestBookButton">GuestBook Data (POST /api/GuestBook)</button>
<div id="GuestBookResult" class="result"></div>

<script>
  document.getElementById("GetGetSessionButton").onclick = () => {
    fetch("/api/GetSession")
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GetGetSessionResult").innerText =
          JSON.stringify(data, null, 2);
      });
  };

  // GetSum POST Request
  document.getElementById("GetSumButton").onclick = () => {
    const a = document.getElementById("GetSumInput1").value;
    const b = document.getElementById("GetSumInput2").value;

    if (!a || !b) {
      alert("Please type a message!");
      return;
    }

    fetch("/api/GetSum", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ arg1: a, arg2: b }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GetSumResult").innerText = JSON.stringify(
          data,
          null,
          2,
        );
      });
  };

  // GetProductByID POST Request
  document.getElementById("GetProductByIDButton").onclick = () => {
    a = document.getElementById("GetProductByIDInput").value;

    if (!a) {
      alert("Please type a Product ID!");
      return;
    }

    fetch("/api/GetProductByID", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ pID: a }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GetProductByIDResult").innerText =
          JSON.stringify(data, null, 2);
      });
  };

    // GetProductBySession POST Request
  document.getElementById("GetProductsByCategoryButton").onclick = () => {
    a = document.getElementById("GetProductsByCategoryInput").value;

    if (!a) {
      alert("Please type a Product Category!");
      return;
    }

    fetch("/api/GetProductsByCategory", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ pCAT: a }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GetProductByIDResult").innerText =
          JSON.stringify(data, null, 2);
      });
  };

  // GetCategories GET Request
  document.getElementById("GetCategoriesButton").onclick = () => {
    fetch("/api/GetCategories")
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GetCategoriesResult").innerText =
          JSON.stringify(data, null, 2);
      });
  };

  // AddToCart POST Request
  document.getElementById("AddToCartButton").onclick = () => {
    const a = document.getElementById("AddToCartInput1").value;
    const b = document.getElementById("AddToCartInput2").value;

    if (!a || !b) {
      alert("Please provide arguments!");
      return;
    }

    b_int = parseInt(b, 10);

    fetch("/api/AddToCart", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ pID: a, pQTY: b_int }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("AddToCartResult").innerText = JSON.stringify(
          data,
          null,
          2,
        );
      });
  };

  // GetCart GET Request
  document.getElementById("GetCartButton").onclick = () => {
    fetch("/api/GetCart")
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GetCartResult").innerText =
          JSON.stringify(data, null, 2);
      });
  };

  // GetCartInfo GET Request
  document.getElementById("GetCartInfoButton").onclick = () => {
    fetch("/api/GetCartInfo")
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GetCartInfoResult").innerText =
          JSON.stringify(data, null, 2);
      });
  };

  // AddCoupon POST Request
  document.getElementById("AddCouponButton").onclick = () => {
    const a = document.getElementById("AddCouponInput1").value;
    const b = document.getElementById("AddCouponInput2").value;

    if (!a || !b) {
      alert("Please provide arguments!");
      return;
    }

    fetch("/api/AddCoupon", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ cPARTNER: a, cCODE: b }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("AddCouponResult").innerText = JSON.stringify(
          data,
          null,
          2,
        );
      });
  };

  // GetCoupons GET Request
  document.getElementById("GetCouponsButton").onclick = () => {
    fetch("/api/GetCoupons")
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GetCouponsResult").innerText =
          JSON.stringify(data, null, 2);
      });
  };

  // GetUserData POST Request
  document.getElementById("GetUserDataButton").onclick = () => {
    const userInput = document.getElementById("GetUserDataInput").value;
    if (!userInput) {
      alert("Please type a message!");
      return;
    }

    fetch("/api/GetUserData", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ id: userInput }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GetUserDataResult").innerText = JSON.stringify(
          data,
          null,
          2,
        );
      });
  };

  // GuestBook POST Request
  document.getElementById("GuestBookButton").onclick = () => {
    const userInput = document.getElementById("GuestBookInput").value;
    if (!userInput) {
      alert("Please type a message!");
      return;
    }

    fetch("/api/GuestBook", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ message: userInput }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("GuestBookResult").innerText = JSON.stringify(
          data,
          null,
          2,
        );
      });
  };
</script>

{% endblock %}
