{% extends "base.html" %}

{% block title %}Chatbot{% endblock %}

{% block content %}
<h1>Chatbot</h1>



<div class="toggle-wrapper">
  <div class="slider-toggle">
    <input type="checkbox" id="sliderToggle">
    <label for="sliderToggle"></label>
  </div>
  <span id="toggleText">AI Firewall Protection: OFF</span>
</div>

<br>
<p>
  Please ask the question to our chat boot.
</p>

<div class="chatbot-form">
  <textarea type="text" rows="5" id="message" placeholder="Your message"></textarea>
  <button id="submitEntry">Send the message</button>
  <p><b>AI Response</b></p>
  <div id="Result" class="result"></div>
  <p><b>JSON Response</b></p>
  <div id="ResultCode" class="result"></div>
</div>

<ul id="entries"></ul>

<script>

  //toggle
  const toggle = document.getElementById('sliderToggle');
  const text = document.getElementById('toggleText');

  toggle.addEventListener('change', () => {
    text.textContent = toggle.checked ? 'AI Firewall Protection: ON' : 'AI Firewall Protection: OFF';
  });




  document.getElementById("submitEntry").onclick = () => {
    const message = document.getElementById("message").value.trim();

    if (!message) {
      alert("Please fill in the message!");
      return;
    }

    fetch("/api/ChatBot", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ message, "protected": toggle.checked })
    })
    .then(res => res.json())
    .then(data => {
      document.getElementById("message").value = "";
      document.getElementById('Result').innerText = data.reply
      document.getElementById('ResultCode').innerText = JSON.stringify(data, null, 2);;
    });
  };


</script>
{% endblock %}


