{% extends "base.html" %} {% block title %}Webshop{% endblock %} {% block
content %}


<div class="topbar">
  <a href="/webshop">[ ← Back to Webshop ]</a>
</div>

<h1>Checkout</h1>
<b>Your cart:</b>
<table id="CartTable">
  <thead>
    <tr>
      <th>Product</th>
      <th>Item Price</th>
      <th>Qty</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows will be inserted here -->
  </tbody>
</table>
<br />
<b>Total value: <span id="TotalValueID">0</span></b>
<br /><br /><br />

<b>Your coupons</b>
<table id="CouponTable">
  <thead>
    <tr>
      <th>Partner ID</th>
      <th>Coupon Code</th>
      <th>Coupon Value</th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows will be inserted here -->
  </tbody>
</table>
<br />
<b>Discount: <span id="TotalDiscountID">0</span></b>
<br /><br />
<input type="text" style="width: 30%" id="CouponPartnerInput" placeholder="Partner code (3 digits)"/>
<input type="text" style="width: 69%" id="CouponCodeInput" placeholder="Coupon code (6 digits)"/>
<span id="CouponMessageID"></span><br /><br />
<button id="AddCouponID" style="width: 49%">Add Coupon</button>
<button id="DeleteCouponsID" style="width: 49%">Delete Coupons</button>
<br /><br /><br />
<div class="total-box">
  Total value after discounts:
  <strong id="TotalValueDiscountedID">0</strong>
</div>
<br /><br /><br />
<button id="CheckoutID" style="width: 49%">Check Out</button>
<button id="DeleteCartID" style="width: 49%">Delete Cart</button>

<script>
  function LoadCartItems(RequestedCategory) {
    fetch("/api/GetCart", {
      method: "GET",
      headers: { "Content-Type": "application/json" },
    })
      .then((res) => res.json())
      .then((data) => {
        const tbody = document.querySelector("#CartTable tbody");

        tbody.innerHTML = "";
        const cartitems = Object.values(data);

        cartitems.forEach((item) => {
          const tr = document.createElement("tr");

          tr.innerHTML = `
            <tr><td>${item.pName}</td><td>${item.pPrice}</td><td>${item.pQTY}</td><td>${item.pTotalPrice}</td></tr>
        `;
          tbody.appendChild(tr);
        });
      });
  }

  function LoadCoupons(RequestedCategory) {
    fetch("/api/GetCoupons", {
      method: "GET",
      headers: { "Content-Type": "application/json" },
    })
      .then((res) => res.json())
      .then((data) => {
        const tbody = document.querySelector("#CouponTable tbody");

        tbody.innerHTML = "";
        const cartitems = Object.values(data);

        cartitems.forEach((item) => {
          const tr = document.createElement("tr");

          tr.innerHTML = `
            <tr><td>${item.cPARTNER}</td><td>${item.cCODE}</td><td>${item.cDISCOUNT}</td>
        `;
          tbody.appendChild(tr);
        });
      });
  }
  function UpdateCartSummary() {
    fetch("/api/GetCartInfo")
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("TotalValueID").textContent = "€ " + data.cPRICE;
        document.getElementById("TotalDiscountID").textContent = "€ " + data.cDISCOUNT;
        document.getElementById("TotalValueDiscountedID").textContent = "€ " + data.cPRICEFINAL;
      });
  }
  document.getElementById("DeleteCartID").onclick = () => {
    fetch("/api/DeleteCart", {
      method: "DELETE",
      headers: { "Content-Type": "application/json" },
    })
      .then((res) => res.json())
      .then((data) => {
        UpdateCartSummary();
        LoadCartItems();
        LoadCoupons();
      });
  };

  document.getElementById("CheckoutID").onclick = () => {
    fetch("/api/DeleteCart", {
      method: "DELETE",
      headers: { "Content-Type": "application/json" },
    })
      .then((res) => res.json())
      .then((data) => {
        alert("Thank you for shopping with us. We look forward to seeing you again soon.")
        window.location.href = "/webshop";
      });
  };

  document.getElementById("AddCouponID").onclick = () => {
    fetch("/api/AddCoupon", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        cPARTNER: document.getElementById("CouponPartnerInput").value,
        cCODE: document.getElementById("CouponCodeInput").value
      }),
    })
      .then(async (res) => {
        const data = await res.json();

        if (!res.ok) {
          // Show error from backend
          document.getElementById("CouponMessageID").textContent =
            data.error_message || "Error adding coupon";
          return;
        }

        // Success
        document.getElementById("CouponMessageID").textContent = "Coupon added!";
        LoadCoupons();
        UpdateCartSummary();
      })
      .catch(() => {
        // Network or unexpected error
        document.getElementById("CouponMessageID").textContent =
          "Network error. Please try again.";
      });
  };

  document.getElementById("DeleteCouponsID").onclick = () => {
    fetch("/api/DeleteCoupons", {
      method: "DELETE",
      headers: { "Content-Type": "application/json" },
    })
      .then((res) => res.json())
      .then((data) => {
        LoadCoupons();
        UpdateCartSummary();
      });
  };

  LoadCartItems();
  LoadCoupons();

  UpdateCartSummary();

</script>

{% endblock %}
