{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

    <h1>Hello World!</h1>
    <p>
      This is the home page of lab.spm.pl. The site is designed to test the effectiveness of security solutions. 
      Every piece of data published on this site as well as through any API interfaces is fake.
    </p>
    <p>
      Features:
      <ul>
        <li>API Interfaces</li>
        <li>Sign-In Experience</li>
        <li>Check-out Experience</li>

      </ul>
    </p>
    <p>
      You can extend this project to build more complex web apps with Python.
    </p>

{% endblock %}

