{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

    <h1>Hello World!</h1>
    <p>
      Welcome to lab.spm.pl – the digital playground where security solutions come to face the ultimate test.
      </p>
      <p>
        Here, we poke, prod, and challenge security systems to see how well they really protect data… without ever putting real information at risk. That’s right: every bit of data on this site—or shared through our APIs—is completely fake. 
      </p>
      <p>Use this site to experiment, learn, and break stuff (ethically, of course). Just remember: what happens in the lab stays in the lab… because it’s all pretend anyway.</p>
    <p>
      Features:
      <ul>
        <li>API Panel</li>
        <li>Sign-In Experience</li>
        <li>WebShop Experience</li>
        <li>API Panel</li>
        <li>Guest Book</li>
        <li>Chat Bot</li>
      </ul>
    </p>
    <p>
      Have a nice day!
    </p>

{% endblock %}

