{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

  <!-- Main content -->
    <h1><p>API Panel</p></h1>

    <!-- GetData Section -->
     <p><b>GET Requests:</b></p>
    <button id="GetDataButton">Get The Session Message (/api/data)</button>
    <div id="GetDataResult" class="result"></div>

    <!-- GetTime Section -->
    <button id="GetTimeButton">Get The Current Time (/api/GetTime)</button>
    <div id="GetTimeResult" class="result"></div>

    <!-- GetDayOfWeek Section -->
    <button id="GetDayOfWeekButton">Get The Day of The Week (/api/GetDayOfWeek)</button>
    <div id="GetDayOfWeekResult" class="result"></div>
    <br><br>
    <p><b>POST Requests:</b></p>

    <p>GetSum (POST /api/GetSum)</p>
    <input type="text" id="GetSumInput1" placeholder="Argument 1">
    <input type="text" id="GetSumInput2" placeholder="Argument 2">
    <button id="GetSumButton">Reflect Input (POST /get/GetSum)</button>
    <div id="GetSumResult" class="result"></div>

    <p>GetProduct (POST /api/GetProduct)</p>
    <input type="text" id="GetProductCategory" placeholder="Product Category ID">
    <input type="text" id="GetProductId" placeholder="Product ID">
    <button id="GetProductButton">Get Product (POST /api/GetProduct)</button>
    <div id="GetProductResult" class="result"></div>

    <p>Get User Data (POST /get/GetUserData)</p>
    <input type="text" id="GetUserDataInput" placeholder="Type the userID">
    <button id="GetUserDataButton">Reflect Input (POST /get/ReflectInput)</button>
    <div id="GetUserDataResult" class="result"></div>
  
    <p>Reflect Input (POST /get/ReflectInput)</p>
    <input type="text" id="ReflectInputInput" placeholder="Type your message here">
    <button id="ReflectInputButton">Reflect Input (POST /get/ReflectInput)</button>
    <div id="ReflectInputResult" class="result"></div>


  <script>

    // GETData request
    document.getElementById('GetDataButton').onclick = () => {
      fetch('/api/data')
        .then(res => res.json())
        .then(data => {
          document.getElementById('GetDataResult').innerText = data.message;
        });
    };
    // GETTime request
    document.getElementById('GetTimeButton').onclick = () => {
      fetch('/api/GetTime')
        .then(res => res.json())
        .then(data => {
          document.getElementById('GetTimeResult').innerText = data.data;
        });
    };
    // GETDayOfWeek request
    document.getElementById('GetDayOfWeekButton').onclick = () => {
      fetch('/api/GetDayOfWeek')
        .then(res => res.json())
        .then(data => {
          document.getElementById('GetDayOfWeekResult').innerText = data.data;
        });
    };


      // GetSum POST Request
    document.getElementById('GetSumButton').onclick = () => {
      const a = document.getElementById('GetSumInput1').value
      const b = document.getElementById('GetSumInput2').value

      if (!a || !b)  {
        alert("Please type a message!");
        return;
      }

      fetch('/api/GetSum', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ arg1: a, arg2: b })
      })
      .then(res => res.json())
      .then(data => {
        document.getElementById('GetSumResult').innerText = data.data;
        document.getElementById('GetSumInput1').value = ''; // clear input
        document.getElementById('GetSumInput2').value = ''; // clear input
      });
    };

      // GetProduct POST Request
    document.getElementById('GetProductButton').onclick = () => {
      const a = document.getElementById('GetProductCategory').value
      const b = document.getElementById('GetProductId').value

      if (!a || !b)  {
        alert("Please type a Category ID and Product ID!");
        return;
      }

      fetch('/api/GetProduct', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ category: a, id: b })
      })
      .then(res => res.json())
      .then(data => {
        document.getElementById('GetProductResult').innerText = JSON.stringify(data.data, null, 2);;
        a.value = ''; // clear input
        b.value = ''; // clear input
      });
    };



    // GetUserData POST Request
    document.getElementById('GetUserDataButton').onclick = () => {
      const userInput = document.getElementById('GetUserDataInput').value;
      if (!userInput) {
        alert("Please type a message!");
        return;
      }

      fetch('/api/GetUserData', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ id: userInput })
      })
      .then(res => res.json())
      .then(data => {
        document.getElementById('GetUserDataResult').innerText = JSON.stringify(data.data, null, 2);
        document.getElementById('GetUserDataInput').value = ''; // clear input
      });
    };



    // ReflectInput POST Request
    document.getElementById('ReflectInputButton').onclick = () => {
      const userInput = document.getElementById('ReflectInputInput').value;
      if (!userInput) {
        alert("Please type a message!");
        return;
      }

      fetch('/api/ReflectInput', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ input: userInput })
      })
      .then(res => res.json())
      .then(data => {
        document.getElementById('ReflectInputResult').innerText = data.data;
        document.getElementById('ReflectInputInput').value = ''; // clear input
      });
    };



  </script>

{% endblock %}
